body {
  max-width: 42em;
  margin: 0 auto;
  position: relative;
  padding: 1em 4em;
}
@media (max-width: 46.2em) {
  body {
    padding: 10vw;
  }
}
#post>pre, .live-code-preview {
  background: #f7f7f7;
}
/*
#post>pre{
  width: 98%;
  margin-left: calc(-50vw + 50%);
  padding: 0 calc(50vw - 50%);
  background: rgba(0,39,59,.08);
}
*/
/* LINKS */
a {
  color: rgba(0,0,0,0.8);
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.6) 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 17px;
}