body {
  max-width: 42em;
  margin: 0 auto;
  position: relative;
  padding: 1em 4em;
}
@media (max-width: 46.2em) {
  body {
    padding: 10vw;
  }
}
h1 {
  margin: 0;
}
body,
input,
select,
textarea,
button {
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0,0,0,0.8);
}

/* LINKS */
a {
  color: rgba(0,0,0,0.8);
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.6) 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 17px;
}

/* CODE */
pre, .CodeMirror {
  line-height: 1.35em;
  font: 11pt "Consolas", "Courier", Monospace;
}
.title-message {
  color: rgba(0,0,0,0.2);
  background: white;
  font: 11pt "Consolas", "Courier", Monospace;
  transition: background .2s;
}
.CodeMirror-focused .title-message {
  background: rgba(255,255,0,0.2);
}
.title-message span:last-child {
  float: right;
}
.CodeMirror .error-message {
  word-wrap: break-word;
}
.CodeMirror:hover {
  cursor: text;
}
.CodeMirror .cm-matchhighlight:not(.CodeMirror-selectedtext) {
  outline: 1px solid #bbb;
}
.CodeMirror-selected {
  background-color: #ddd !important;
}
.CodeMirror-focused div.CodeMirror-cursor {
  /* Whatever your cursor color is: */
  border-right: 1px solid black;
}
/*pre {
  background: #f2f2f2;
  padding: 20px;
  overflow: auto;
}*/
.CodeMirror {
  height: auto !important;
}


/* HELPERS */
.list-unstyled {
  list-style: none;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.hanging-indent>* {
  text-indent: -2.5em;
  padding-left: 2.5em;
}
.text-center {
  text-align: center;
}