body {
  margin: 0 .5in;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Open Sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}
pre {
  page-break-inside: avoid;
}
#post>pre {
  margin-left: -7px;
  padding-left: 4px;
  border-left: 3px solid #dbdbdb;
}
.common-header {
  display: none;
}
.no-print {
  display: none;
}
#post {
  page-break-after: always;
}