h1 {
  margin: 0;
}
body,
input,
select,
textarea,
button {
  //font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  //font-family: "Consolas", "Courier", Monospace;
  font-family: "Open Sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0,0,0,0.8);
}

/* Whitespace */
blockquote {
  color: #6D5216;
  font-style: italic;
}

#post>pre {
  margin-bottom: 15px;
}

.live-html {
  padding: 16px;
  margin-bottom: 16px;
}

/* CODE */
.live-html {
  border: 1px solid #e5e9ef;
}

p code {
  /* Thank you github for this style */
  padding: 0.2em 0;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

pre, .CodeMirror, code, .title-message {
  font: 15px "Source Code Pro", "Consolas", "Courier", Monospace !important;
}
.title-message { padding: 0 16px;
  user-select:none; -webkit-user-select:none; }

.title-message span:last-child {
  float: right;
}
.CodeMirror .error-message {
  word-wrap: break-word;
}
.CodeMirror:hover {
  cursor: text;
}
.CodeMirror {
  height: auto !important;
}


/* HELPERS */
.list-unstyled {
  list-style: none;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.hanging-indent>* {
  text-indent: -2.5em;
  padding-left: 2.5em;
}
.text-center {
  text-align: center;
}
