/* Influences from http://colororacle.org/design.html */
@import './colors-d.styl'

$error-red = #f30
$error-red-sel = #f3b
$black = #111
$white = whitesmoke
$bg = $white // rgba(0,0,0,0.04)// rgba(0,0,0,0.04)
$cursor = $black
$selbg = #ddd
$selbgfocus = #acf
$selfg = #111
$linenums = $fadedgrey
$built = $c3
$builtw = $w3
$str = $d2
$strw = $w2
$regex = $d3
$comment = #666
$commentw = $w2
$attr = $d1
$attrw = $w1
$atom = $d3
$numberw = $w3
$opqual = $c4
$opqualw = $w3
$tag = $c2
$matchhi = $d1
$matchbracketw = $w3

/* No CodeMirror */

#post>pre {
  padding: 4px 8px 4px 8px;
  border: 1px solid #e5e9ef;
  color: $black;
}
#post>pre code {
  white-space: pre-wrap;
}


/* CodeMirror */

#post>pre, .CodeMirror-lines {
  background-color: $bg;
}

.post-codemirror {
  position: relative;
  margin-left: -36px;
}
.post-codemirror .title-message,
.post-codemirror .error-message {
  margin-left: 36px;
}

.cm-s-lawr .CodeMirror-linenumber {
  padding:0;
  color:#e0e2e5;
  margin-left:-12px;
}
.cm-s-lawr .CodeMirror-lines {
  border: 1px solid #e5e9ef;
}
.cm-s-lawr .CodeMirror-linenumbers {
  width:35px; /*codemirror adds 1.   */
}

.cm-s-lawr .error-message {background: $error-red; color: $bg;}
.title-message {
  color: rgba(0,0,0,0.2);
  background: transparent;
  transition: background .2s;
}
.cm-s-lawr.CodeMirror-focused .title-message { background: $d4l; }
.cm-s-lawr .CodeMirror-line::selection,
.cm-s-lawr .CodeMirror-line > span::selection,
.cm-s-lawr .CodeMirror-line > span > span::selection {
  background: #338FFF;
  color: $white;
}
.cm-s-lawr.CodeMirror {background: transparent; color: $black;}
//.cm-s-lawr .CodeMirror-lines {padding: 1em 0;}
.cm-s-lawr .CodeMirror-selected {background: $selbg !important;}
.cm-s-lawr.CodeMirror-focused .CodeMirror-selected {background: $selbgfocus !important;}
.cm-s-lawr .CodeMirror-gutters {background: transparent; border-right: 0px;}
.cm-s-lawr .CodeMirror-linenumber {color: $linenums;}
.cm-s-lawr .CodeMirror-cursor {border-left: 1px solid $cursor !important;}
.cm-s-lawr .CodeMirror-cursor {border-right: 1px solid $cursor !important;}

.cm-s-lawr .cm-comment {color: $comment; font-weight: $commentw}
.cm-s-lawr .cm-atom {color: $atom;}
.cm-s-lawr .cm-number {color: $atom; font-weight: $numberw; }
.cm-s-lawr .cm-qualifier {color: $opqual; font-weight: $opqualw;}
.cm-s-lawr.CodeMirror-focused .cm-matchhighlight:not(.CodeMirror-selectedtext) { outline: 1px solid $matchhi; }

.cm-s-lawr.mode-css .cm-property,
.cm-s-lawr .cm-attribute {color: $attr; font-weight: $attrw; }
.cm-s-lawr .cm-string {color: $str; font-weight: $strw; }
.cm-s-lawr .cm-string-2 {color: $regex; }

.cm-s-lawr .cm-operator { color: $opqual; font-weight: $numberw; }
.cm-s-lawr .cm-keyword,
.cm-s-lawr .cm-builtin { color: $built; font-weight: $builtw; font-style: italic; }

.cm-s-lawr .cm-variable {color: $black;}
.cm-s-lawr .cm-variable-2 {color: $black; font-style: italic;}
.cm-s-lawr .cm-def {color: $attr;}
.cm-s-lawr .cm-bracket {color: $black;}
.cm-s-lawr .cm-tag {color: $tag;}
.cm-s-lawr .cm-link {color: $atom;}
.cm-s-lawr .cm-error {background: $error-red; color: $black; }
.cm-s-lawr .cm-error.CodeMirror-selectedtext {background: $error-red-sel; }
.cm-s-lawr .CodeMirror-selectedtext {color: $selfg !important;}

.cm-s-lawr .CodeMirror-selected,
.cm-s-lawr .CodeMirror-cursor { transition: all .05s;
  transition-timing-function: ease-out; }

.cm-s-lawr .CodeMirror-activeline-background {background: inherit !important;}
.cm-s-lawr .CodeMirror-matchingbracket { font-weight: $matchbracketw; }