/* Based on Isaac Muse's ExportHtml Color theme */
/* Based on Sublime Text's Monokai theme */
/* also based on http://www.colourlovers.com/palette/245002/Deutanopia-Safe_1 */
.cm-s-lawr .error-message {background: #f30; color: white;}

.cm-s-lawr.CodeMirror {background: white/*#272822*/; color: black/*#f8f8f2*/;}
.cm-s-lawr .CodeMirror-lines {padding: 0;}
.cm-s-lawr div.CodeMirror-selected {background: #F8BB1E /*#49483E*/!important;}
.cm-s-lawr span.CodeMirror-selectedtext {color: white !important;}
.cm-s-lawr .CodeMirror-gutters {background: white/*#272822*/; border-right: 0px;}
.cm-s-lawr .CodeMirror-linenumber {color: rgba(0,0,0,0.2)/*#d0d0d0*/;}
.cm-s-lawr .CodeMirror-cursor {border-left: 1px solid black /*#f8f8f0*/!important;}
.cm-s-lawr .CodeMirror-cursor {border-right: 1px solid black /*#f8f8f0*/!important;}

.cm-s-lawr span.cm-comment {color: #75715e;}
.cm-s-lawr span.cm-atom {color: #E0A800/*#ae81ff*/;}
.cm-s-lawr span.cm-number {color: #E0A800/*#ae81ff*/;}
.cm-s-lawr span.cm-qualifier {color: #A3825C;}

.cm-s-lawr span.cm-property, .cm-s-lawr span.cm-attribute {color: #6D5216/*#a6e22e*/;}
.cm-s-lawr.mode-javascript span.cm-property {color: black;}
.cm-s-lawr span.cm-keyword {font-style: italic; color: #F8BB1E/*#C70040*//*#f92672*/; }
.cm-s-lawr span.cm-string {color: #8F8634/*#e6db74*/;}

.cm-s-lawr span.cm-operator { color: #A3825C; }
.cm-s-lawr span.cm-builtin { color: #F8BB1E; font-style: italic; }

.cm-s-lawr span.cm-variable {color: black/*#a6e22e*/;}
.cm-s-lawr span.cm-variable-2 {color: black/*#9effff*/; font-style: italic;}
.cm-s-lawr span.cm-def {color: #6D5216/*#fd971f*/;}
.cm-s-lawr span.cm-bracket {color: #f8f8f2;}
.cm-s-lawr span.cm-tag {color: #f30;}
.cm-s-lawr span.cm-link {color: #E0A800/*#ae81ff*/;}
.cm-s-lawr span.cm-error {background: #f30; color: black/*#f8f8f0*/;}

.cm-s-lawr .CodeMirror-cursor { border-left: .5493em solid rgba(255,0,0,.2) !important; }
.cm-s-lawr .CodeMirror-cursor { border-left: 1.5px solid black !important;
  border-right: 1.5px solid black !important; }
.cm-s-lawr .CodeMirror-selected,
.cm-s-lawr .CodeMirror-cursor { transition: all .05s;
  transition-timing-function: ease-out; }

.cm-s-lawr .CodeMirror-selected,
.cm-s-lawr .CodeMirror-activeline .CodeMirror-gutter-elt {background: whitesmoke !important;}
.cm-s-lawr .CodeMirror-activeline-background {background: inherit !important;}
.cm-s-lawr .CodeMirror-matchingbracket { font-weight: bold; }